# Векторизированные вычисления с помощью NumPy - Модуль 2-1  Модуль 2. Библиотека Pandas и Numpy / Введение в анализ данных-19
Создайте вектор NumPy, который содержит значения от 10 до 500. Возведите все значения вектора в квадрат и вычтите из каждого элемента вектора число 234. Чему равна сумма всех элементов получившегося вектора?

In [ ]:
import numpy as np


arr = np.arange(start=10, stop=501)
arr = np.power(arr, 2) # arr *= arr
arr -= 234
res = np.sum(arr)

In [ ]:
arr

In [ ]:

res

# Series и DataFrame, Объединение таблиц - Модуль 2-2 Модуль 2. Библиотека Pandas и Numpy / Введение в анализ данных-19
# файл содержит таблицу, которая состоит из следующих колонок:
    - data (дата);
    - vendor_id (уникальный идентификатор ресторана);
    - chain_id (уникальный идентификатор сети в которую входит ресторан);
    - city_id (идентификатор города);
    - spec (специализация ресторана);
    - succseful_orders (количество успешных заказов);
    - fail_orders (количество неудачных заказов).

## Вопросы
1. Сколько уникальных городов представленно в данном датафрейме?
2. Сколько ресторанов в таблице специализируется на рыбе?
3. Сколько колонок в датафрейме имеют тип данных float64?
4. Сколько дней у ресторана с идентификатором 40065 было менее 20 успешных заказов?

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/Users/igorvoinov/algo/pro2_m4y1/orders.csv')

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96118 entries, 0 to 96117
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               96118 non-null  object
 1   vendor_id          96118 non-null  int64
 2   chain_id           96118 non-null  int64
 3   city_id            96118 non-null  int64
 4   spec               95733 non-null  object
 5   successful_orders  96118 non-null  float64
 6   fail_orders        96118 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 5.1+ MB

In [69]:
df.head()

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0
2,2019-09-25,35430,26220,25,Пицца,2.0,0.0
3,2019-09-21,56553,38601,23,Шашлыки,1.0,0.0
4,2019-09-21,43919,30984,25,Суши,6.0,0.0

In [77]:
# len(set(df['city_id']))
df['city_id'].nunique()
"""
Где df - это ваш датафрейм, а 'город' - это название столбца с городами в вашем датафрейме. Метод nunique() 
возвращает количество уникальных значений в указанном столбце. Печатая num_unique_cities, вы увидите количество 
уникальных городов в датафрейме.
"""

4

In [80]:
# df['spec'].value_counts()
df['spec'].value_counts().get('Рыба', 0)
"""
Где df - ваш датафрейм, а 'кухня' - это имя столбца, содержащего типы кухни или специализацию ресторанов. Печатая 
fish_restaurants_count, вы увидите количество ресторанов, специализирующихся на рыбе. Если таких ресторанов нет, 
будет выведено значение 0.
"""

1103

In [82]:
len(df.select_dtypes(include=['float64']).columns)
"""
Где df - ваш датафрейм. Метод select_dtypes(include=['float64']) выбирает только столбцы с типом данных float64 из 
датафрейма. Затем columns возвращает список названий столбцов в результирующем датафрейме, и используя len(), вы 
получаете количество этих столбцов. Печатая float_columns_count, вы увидите количество колонок в датафрейме с типом 
данных float64.
"""

2

In [ ]:
restaurant_id = 40065
threshold = 20

filtered_df = df[df['идентификатор ресторана'] == restaurant_id]
days_below_threshold = (filtered_df['количество успешных заказов'] < threshold).sum()
"""

"""